<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur nostrum error quod dolor cum nesciunt ratione mollitia eligendi, saepe necessitatibus illum enim magni sunt quae accusantium velit quia iste eveniet minus laudantium unde! Illo itaque quia aspernatur illum similique culpa.</p>

    </div>
</div>