<div class="jumbotron-mt-4">
    <h1 class="display-4">Amazon-API NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, cumque, beatae, ad laborum laudantium nihil numquam labore dolores consectetur odio ea natus temporibus quibusdam dignissimos? Recusandae omnis eligendi soluta iure.
    </p>
    <a href="http://amazon.com" class="btn btn-primary btn-lg">Amazon</a>
</div>